$gray-dark: #151515;
$gray: #656565;
$gray-light: #878787;
$gray-line: #D7D7D7;
$grayBg: #EAE7E4;

$red: #ED492E;
$blue: #1E5A86;

$color-primary: $red;
$color-primaryAlt: $blue;

// StopSasha

.color-white {
	color: white !important;
}

.color-primary {
	color: $color-primary !important;
}

.color-primaryAlt {
	color: $color-primaryAlt !important;
}

.backgroundColor-primary {
	background-color: $color-primary !important;
}

.backgroundColor-primaryAlt {
	background-color: $color-primaryAlt !important;
}

.backgroundColor-white {
	background-color: white !important;
}

.backgroundColor-gray {
	background-color: $grayBg !important;
}
