.Button {
	display: block;
	transition: $transition;
	background-color: $color-primary;
	padding: $u/2 $u;
	color: white;

	&:hover {
		background-color: darken($color-primary, 10%);
	}
}

.Button--alt {
	background-color: $color-primaryAlt;

	&:hover {
		background-color: darken($color-primaryAlt, 10%);
	}
}

.ButtonTransparent {
	display: inline-block;
	transition: $transition;
	border: 3px solid white;
	padding: $u/2 $u;
	color: white;

	&:hover {
		background-color: darken($color-primaryAlt, 10%);
	}
}
