@font-face {
	font-family: OpenSans;
	font-weight: 400;
	font-style: normal;
	src: url('../fonts/OpenSans-400n.woff') format('woff');
}
@font-face {
	font-family: OpenSans;
	font-weight: 600;
	font-style: normal;
	src: url('../fonts/OpenSans-600n.woff') format('woff');
}
@font-face {
	font-family: OpenSans;
	font-weight: 300;
	font-style: normal;
	src: url('../fonts/OpenSans-300n.woff') format('woff');
}
@font-face {
	font-family: OpenSans;
	font-weight: 400;
	font-style: italic;
	src: url('../fonts/OpenSans-400i.woff') format('woff');
}

$fontFamily-main: OpenSans, sans;
